NOTION_TOKEN=

# Optional (defaults are already set in script)
NOTION_PROJECTS_DATABASE_ID=31dec98f96b9811faa37cc4ae620a858
NOTION_TASK_TEMPLATES_DATABASE_ID=31dec98f96b98142ba7dd53b20e6104f
NOTION_TASKS_DATABASE_ID=47e26f193e3342b2b306a6bd4be42fba

# 1 = don't create/update anything
DRY_RUN=0
